<%- include('./partials/header') %>
<%- include('./partials/head') %>
        <div class="border border-light p-3 mb-4" class="height:80vh;">
                
            <div style="height: 20rem; margin: 8rem;">
                <div class="alert alert-primary" role="alert">
                    Data Successfully Extracted
                  </div>
                <textarea id="editor"><%=data%></textarea>
            </div>
        </div>
<%- include('./partials/foot') %>
<%- include('./partials/footer') %>